<div class='user_div'>
  <div class='user_photo'>
     <img class="user-img" src="<%= @user.photo %>" alt="User photo">
  </div>
  <div class='user_info'>
    <p class='user_name'><%= @user.name %></p>
    <p class='number_of_posts'>Number of posts: <%= @user.post_counter %></p>
  </div>
</div>

<div class='user_bio'>
  <%= @user.bio %>
</div>

<div class='posts'>
  <% @user.most_recent_posts.each do |post| %>
    <div class='individual_post'>
      <h3><%= post.title %></h3>
      <p>
        <%= truncate(post.text, length: 130, omission: '...') %>
        <% if post.text.length > 20 %>
        <% end %>
      </p>
      <div class='comments'>
        <p class='number_of_comments'>Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %></p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to user_posts_path(@user), class: 'button' do %>
  <button class='button'>See All Posts</button>
<% end %>